{% extends 'public/index.html' %}
{% block css %}
<link href="/static/assets/theme/default/style.min.css" rel="stylesheet"/>
<!-- BEGIN PAGE LEVEL STYLES -->
<!--<link href="/static/assets/css/select2.css" rel="stylesheet" />-->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/select2/select2-metronic.css"/>
<link rel="stylesheet" href="/static/assets/css/DT_bootstrap.css"/>
<!-- END PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap-select/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/assets/plugins/jquery-multi-select/css/multi-select.css"/>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey tasks-widget">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>state模块对应
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-full-width"  id="datatables">
                    <thead>
                    <tr>
                        <th>中心服务器</th>
                        <th>目标主机</th>
                        <th>模块</th>
                        <th>ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">state模块对应</h4>
                </div>
                <div class="modal-body form">
                    <form action="#" class="form-horizontal form-row-seperated">
                        <div class="form-group">
                        <label class="col-sm-4 control-label">中心服务器</label>

                        <div class="col-sm-8">
                            <div class="input-group">
															<span class="twitter-typeahead"
                                                                  style="position: relative; display: inline-block;">
                                                                <input type="text" class="form-control tt-hint"
                                                                       disabled="" autocomplete="off" spellcheck="false"
                                                                       style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                                                <div type="text" id="center_server"
                                                                     name="typeahead_example_modal_1"
                                                                     class="form-control tt-input" autocomplete="off"
                                                                     spellcheck="false" dir="auto"
                                                                     style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                                                    aria-hidden="true"
                                                                    style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                                                    class="tt-dropdown-menu"
                                                                    style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                                                    class="tt-dataset-1"></div></span></span>
                            </div>
                        </div>
                    </div>
                        <div class="form-group">
                        <label class="col-sm-4 control-label">目标主机</label>

                        <div class="col-sm-8">
                            <div class="input-group">
															<span class="twitter-typeahead"
                                                                  style="position: relative; display: inline-block;">
                                                                <input type="text" class="form-control tt-hint"
                                                                       disabled="" autocomplete="off" spellcheck="false"
                                                                       style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                                                <div type="text" id="target"
                                                                     name="typeahead_example_modal_1"
                                                                     class="form-control tt-input" autocomplete="off"
                                                                     spellcheck="false" dir="auto"
                                                                     style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                                                    aria-hidden="true"
                                                                    style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                                                    class="tt-dropdown-menu"
                                                                    style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                                                    class="tt-dataset-1"></div></span></span>
                            </div>
                        </div>
                    </div>
                        <div class="form-group">
                        <label class="col-sm-4 control-label">模块</label>

                        <div class="col-sm-8">
                            <div class="input-group">
															<span class="twitter-typeahead"
                                                                  style="position: relative; display: inline-block;">
                                                                <input type="text" class="form-control tt-hint"
                                                                       disabled="" autocomplete="off" spellcheck="false"
                                                                       style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);">
                                                                <div type="text" id="state"
                                                                     name="typeahead_example_modal_1"
                                                                     class="form-control tt-input" autocomplete="off"
                                                                     spellcheck="false" dir="auto"
                                                                     style="width: 250px;position: relative; vertical-align: top; background-color: transparent;"></div><pre
                                                                    aria-hidden="true"
                                                                    style="position: absolute; visibility: hidden; white-space: nowrap; font-family: 'Open Sans', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
                                                                    class="tt-dropdown-menu"
                                                                    style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div
                                                                    class="tt-dataset-1"></div></span></span>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div id="id" style="display: none"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="rule_save()"><i class="fa fa-check"></i>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body form">
                <form action="#" class="form-horizontal form-row-seperated">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align:center;width:100%"><h4>您确定要执行吗</h4></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="twitter-typeahead"
                                      style="position: relative; display: inline-block;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" onclick="run()"><i class="fa fa-check"></i>确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 50%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">执行模块</h4>
                </div>
                <div class="modal-body form">
                    <form action="#" class="form-horizontal form-row-seperated">
                        <div class="form-group last">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">执行结果</h3>
                                </div>
                                <div class="panel-body">
                                    <h4 id="cmd_results"></h4>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="id" style="display: none"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
{#                    <button type="button" class="btn btn-primary" onclick="rule_save()"><i class="fa fa-check"></i>保存#}
                    </button>
                </div>
            </div>
        </div>
    </div>
<!--/datatables-->
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/assets/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/data-tables/DT_bootstrap.js"></script>

<script src="/static/assets/plugins/context.js"></script>
<script src="/static/assets/plugins/jstree/dist/jstree.min.js"></script>
<script src="/static/assets/plugins/holder.js"></script>
<script src="/static/assets/plugins/stilearn-base.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
<script src="/static/assets/plugins/select2/select2.js"></script>
<script src="/static/assets/plugins/datatables/extras/TableTools.min.js"></script>
<script src="/static/assets/scripts/custom/table-managed.js"></script>



<script type="text/javascript">
var oTable;
var aButtons
/* Formating function for row details */

$(document).ready(function () {

    aButtons = [
            {
                "sExtends": 'text',
                "sButtonText": '<font color="white">添加</font><i class="fa fa-plus"></i>',
                "sButtonClass": "btn green ",
                "fnComplete": function (nButton, oConfig, nRow) {
                    add()
                }

            },
            {
                "sExtends": 'select',
                "sButtonText": '<font color="white">编辑</font><i class="fa fa-edit"></i>',
                "sButtonClass": "btn blue",
                "fnComplete": function (nButton, oConfig, nRow) {
                    edit()
                }

            },
            {
                "sExtends": 'select',
                "sButtonText": '<font color="white">删除</font><i class="fa fa-times"></i>',
                "sButtonClass": "btn btn-danger",
                "fnComplete": function (nButton, oConfig, nRow) {
                    del()
                }
            },
            {
                "sExtends": 'text',
                "sButtonText": '<font color="white">全选/不选</font><i class="fa fa-check"></i>',
                "sButtonClass": "btn yellow",
                "fnComplete": function (nButton, oConfig, nRow) {
                    select_all()
                }
            },
            {
                "sExtends": 'select',
                "sButtonText": '<font color="white">执行模块</font><i class="fa fa-toggle-right"></i>',
                "sButtonClass": "btn purple",
                "fnComplete": function (nButton, oConfig, nRow) {
                    run_verify()
                }

            }
        ]
    loaddata()


});
function loaddata() {
    oTable = $('#datatables').dataTable({
        "sAjaxSource": "/salt_top_data/?rand=" + Math.random(),
        "sDom": "<'row-fluid'<'span6'T><'span6'f>r><'table-scrollable't><'fluid'<'span3'l><'span4'i><'span5'p>>",
        "bServerSide": true,
        "bPaginate": true, // 是否使用分页
        "bProcessing": true, //是否显示正在处理的提示
        "bLengthChange": true, //是否启用设置每页显示记录数
        "bFilter": true, //是否使用搜索
        "bStateSave": false,
        "bDestroy": true,
        "bSort": true, //是否使用排序
        "bAutoWidth": true, //列的宽度会根据table的宽度自适应
        "sPaginationType": "bootstrap",
//        "aLengthMenu": [
//                    [5, 15, 20, -1],
//                    [5, 15, 20, "All"] // change per page values here
//                ],
        "oTableTools": {
            "sRowSelect": "multi",
            'aButtons': aButtons
        },
        "aoColumns": [
            { "sClass": "center", 'sWidth': "30%"},
            { "sClass": "center", 'sWidth': "30%"},
            { "sClass": "center", 'sWidth': "30%"},
            { "sClass": "center", 'sWidth': "10%", 'bVisible': false}


        ],
        "aaSorting": [
            [1, 'asc']
        ],
        "oLanguage": {
            "sProcessing": "正在加载数据...",
            'sSearch': '数据筛选:',
            "sLengthMenu": "每页显示 _MENU_ 项记录",
            "sZeroRecords": "没有符合项件的数据...",
            "sInfo": "当前数据为从第 _START_ 到第 _END_ 项数据；总共有 _TOTAL_ 项记录",
            "sInfoEmpty": "显示 0 至 0 共 0 项",
            "sInfoFiltered": "(_MAX_)",
            "oPaginate": {
                "sFirst": '首页',
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "最后一页"
            }

        },
        "fnInitComplete": function (oSettings, json) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnDrawCallback": function (oSettings) {
            $('input[type=checkbox],input[type=radio],input[type=file]').uniform()
        },
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            });
        }
    });
}

function rule_save() {
    var center_server = $('#center_server').select2('data')
    target_list = []
    var target = $('#target').select2('data')
    for (var i in target) {
        target_list.push(target[i]["text"])
    }
    target = target_list.join(',')
    state_list = []
    var state = $('#state').select2('data')
    for (var i in state) {
        state_list.push(state[i]["text"])
    }
    state = state_list.join(',')
    var id = $('#id').val();
    if (center_server == null || target == null || state == null) {
        toastr.error('不能为空')
        return;
    }
    center_server = center_server['text']

    showAjaxLoad()
    $(self).button('loading');//正在登陆中，显示data-loading-text 标记内容

    $.ajax({
        url: '/salt_top_save/',
        type: "POST",
        data: {
            id: id,
            center_server: center_server,
            target: target,
            state: state
        },
        success: function (d) {
            hideAjaxLoad()
            if (d.code == 0) {
                toastr.success(d.msg)
                $('#datatables').dataTable().fnDraw()
            } else {
                toastr.error(d.msg)
            }
        }
    });
    $('#myModal').modal('hide')
    $(self).button('complete')
}

function add() {
    $('#target').select2('data','')
    $('#state').select2('data','')
    $.post('/salt_top_dropdown/', {}, function (d) {
        $('#center_server').select2({
            multiple: false,
            placeholder: '请选择中心服务器',
            allowClear: true,
            data: d['center_server']
        });
        $('#target').select2({
            multiple: true,
            placeholder: '请选择目标主机',
            allowClear: true,
            data: d['target']['list']
        });
        $('#state').select2({
            multiple: true,
            placeholder: '请选择模块',
            allowClear: true,
            data: d['state']['list']
        });
    })
    $('#id').val("")
    $("#myModal").modal('show')
}
function edit() {
    var oTT = TableTools.fnGetInstance('datatables');
    var aData = oTT.fnGetSelectedData();
    if (aData.length == 1) {
        var center_server = aData[0][0];
        var id = aData[0][3];
        $.post('/salt_top_dropdown/', {id:id}, function (d) {
            $('#center_server').select2({
                multiple: false,
                placeholder: '请选择中心服务器',
                allowClear: true,
                data: d['center_server']
            });
            $('#center_server').select2('data',{'text':center_server})
            $('#target').select2({
                multiple: true,
                placeholder: '请选择目标主机',
                allowClear: true,
                data: d['target']['list']
            });
            $('#target').select2('data',d['target']['edit'])
            $('#state').select2({
                multiple: true,
                placeholder: '请选择模块',
                allowClear: true,
                data: d['state']['list']
            });
            $('#state').select2('data',d['state']['edit'])
        })

        $('#id').val(id)
        $("#myModal").modal('show')
    }


}
function del() {
    var oTT = TableTools.fnGetInstance('datatables');
    var aData = oTT.fnGetSelectedData();
    if (aData.length > 0) {
        target_id = []
        showAjaxLoad()
        for (var i in aData) {
            target_id.push(aData[i][3])
        }
        target_id = target_id.join(',')
        $.post('/salt_top_del/', {target_id: target_id}, function (d) {
            hideAjaxLoad()
            if (d.code == 0) {
                toastr.success(d.msg)
                $('#datatables').dataTable().fnDraw()
            } else {
                toastr.error(d.msg)
            }
        })
    }
}

function select_all() {
    var oTT = TableTools.fnGetInstance('datatables');
    if($.isEmptyObject(oTT.fnGetSelected())){
        oTT.fnSelectAll()
    }else {
        oTT.fnSelectNone()
    }
}

function run_verify() {
        $("#myModal2").modal('show')
}

function run() {
    var oTT = TableTools.fnGetInstance('datatables');
    var aData = oTT.fnGetSelectedData();
    if (aData.length > 0) {
        var center_server_list = []
        var run_target_list = []
        showAjaxLoad()
        for (var i in aData) {
            center_server_list.push(aData[i][0])
            run_target_list.push(aData[i][1])
        }
        var center_server = center_server_list.join(',')
        var run_target = run_target_list.join(',')
        $("#myModal2").modal('hide')

        $.post('/salt_top_run/', {center_server:center_server,run_target:run_target}, function (d) {
            if (d.code == 0) {
                console.info(d.cmd_results)
                var data = d.cmd_results.replace(/stdout:&nbsp'(.*?[^'])'<br>/,'stdout:&nbsp\'<font color="green"><b>$1</b></font>\'<br>')
                data = data.replace(/stderr:&nbsp'(.*?)[^']'<br>/,'stderr:&nbsp\'<font color="red"><b>$1</b></font>\'<br>')
                data = data.replace(/true/,'<font color="green"><b>true</b></font>')
                data = data.replace(/false/,'<font color="red"><b>false</b></font>')
                $('#cmd_results').html(data)
                hideAjaxLoad()
                $("#myModal3").modal('show')
                toastr.success(d.msg)
            } else {
                toastr.error(d.msg)
            }
        })
    }else{
        $("#myModal2").modal('hide')
        toastr.error('请选择目标主机')
    }
}

</script>
{% endblock %}