				<li id="main" class="start">
					<a href="/main/">
						<i class="fa fa-home"></i>
						<span class="title">
							主页
						</span>
						<span class="selected">
						</span>
					</a>
				</li>
				<li id="user_manage">
					<a href="javascript:;">
						<i class="fa fa-user"></i>
						<span class="title">
							用户管理
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="chpasswd">
							<a href="/chpasswd/" name="修改密码">
								修改密码
							</a>
						</li>
                	</ul>
				</li>
                <li id="perm_manage">
					<a href="javascript:;">
						<i class="fa fa-key"></i>
						<span class="title">
							权限管理
						</span>
						<span class="arrow ">
						</span>
					</a>
                    <ul class="sub-menu">
                        <li id="user_perm">
							<a href="/user_perm/">
								用户权限管理
							</a>
						</li>
                        <li id="server_group">
							<a href="/server_group/">
                                服务器组管理
							</a>
						</li>
                    </ul>
				</li>
                <li id="assets">
					<a href="javascript:;">
						<i class="fa fa-truck"></i>
						<span class="title">
							服务器信息
						</span>
						<span class="arrow">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="server_info">
							<a href="/server_info_table/" name="资产出入库">
								<span class="title">
									服务器信息表
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li id="assets">
					<a href="javascript:;">
						<i class="fa fa-truck"></i>
						<span class="title">
							资产管理
						</span>
						<span class="arrow">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="assets_asset">
							<a href="/assets_asset/" name="资产出入库">
								<span class="title">
									资产出入库
								</span>
							</a>
						</li>
						<li id="assets_user">
							<a href="/assets_user/" name="员工资产>
								<span class="title">
									员工资产
								</span>
							</a>
						</li>
						<li id="assets_image">
							<a href="/assets_image/" name="资产统计图">
								<span class="title">
									资产统计图
								</span>
							</a>
						</li>
						<li id="assets_log">
							<a href="/assets_log/" name="出入库记录">
								<span class="title">
									出入库记录
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li id="audit">
					<a href="javascript:;">
						<i class="fa fa-book"></i>
						<span class="title">
							运维审计
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="audit_log">
							<a href="/audit_log/" name="操作日志">
								 操作日志
							</a>
						</li>
					</ul>
				</li>
				<li id="monitor">
					<a href="javascript:;">
						<i class="fa fa-eye"></i>
						<span class="title">
							监控
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="nagios">
							<a href="/nagios/" name="nagios">
								 nagios
							</a>
						</li>
						<li id="zabbix">
							<a href="/zabbix/" name="zabbix">
								 zabbix
							</a>
						</li>
					</ul>
				</li>
                <li id="operation">
					<a href="javascript:;">
						<i class="fa fa-desktop"></i>
						<span class="title">
							运维操作
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="upload">
							<a href="/upload/" name="上传文件">
								 上传文件
							</a>
						</li>
                        <li id="cmd_template">
							<a href="/cmd_template/" name="命令模板">
								 命令模板
							</a>
						</li>
                        <li id="server_operation">
							<a href="/server_operation/" name="服务器操作">
								 服务器操作
							</a>
						</li>
                        <li id="fortress_server">
							<a href="/fortress_server/" name="堡垒机">
								 堡垒机
							</a>
						</li>
					</ul>
				</li>
                <li id="saltstack">
					<a href="javascript:;">
						<i class="fa fa-sitemap"></i>
						<span class="title">
							saltstack
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="salt_top">
							<a href="/salt_top/" name="state模块对应">
								 state模块对应
							</a>
						</li>
                        <li id="salt_state">
							<a href="/salt_state/" name="state模块定义">
								 state模块定义
							</a>
						</li>
                        <li id="salt_pillar">
							<a href="/salt_pillar/" name="pillar参数定义">
								 pillar参数定义
							</a>
						</li>
					</ul>
				</li>